<div class="container noprint" *ngIf="checkUps && checkUps.length > 0 ">
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th style="width: 20%;"><a href="">Bisherige CheckUps</a></th>
					</tr>
				</thead>
				<tbody>
					<tr
					class="orderRow"
					*ngFor="let checkUp of checkUps">
					<td>
						<a href="javascript:;" [routerLink]="['/checkups/show', checkUp._id]">{{checkUp.created | date:'dd.MM.yyyy'}}</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<popupMessage class="noprint" [feedbackMessage]="feedbackMessage"></popupMessage>
