<div class="container">
    <div class="row item">
  		<div class="col-sm-2">
  			<b>Lifemanagement</b>
    	</div>
    	<div class="col-sm-10">
    	Ich bin mir dessen bewusst, dass ich gleich, morgen, in ein paar Jahren oder auch erst in vielen Jahren sterben werde. Ich bin mir dessen bewusst, dass ich nur dieses eine Leben habe. 

		Dieses eine Leben möchte ich erfüllt, abwechslungsreich, glücklich, gesund und erfolgreich geführt haben. Ich möchte die Dinge tun, die ich gerne tue, und die Dinge tun die dafür sorgen, dass ich ein erfülltes, glückliches, gesundes und erfolgreiches Leben führe. Ich möchte den Menschen in meinem Umfeld etwas geben und etwas hinterlassen. Ich möchte mein Leben ohne schlechtes Gewissen geführt haben, ehrlich und integer. 

		Im hektischen und stressigen Alltag vergesse ich das nur allzu oft und bin in Kleinigkeiten und Alltäglichem verhaftet. Daher muss ich es mir fest vornehmen, das zu tun, was ich wirklich will und Wege finden, die mir helfen, genau das auch umzusetzen.

		Durch ein Lebensmanagement-System möchte ich sicherstellen, dass ich meine Zeit nicht mit falschen alltäglichen und sinnlosen Dingen verbringe, sondern mit den Richtigen. Ich möchte den Fokus auf richtige Dinge legen. Die nämlich, die mich glücklich machen, die mich voran bringen, die sicherstellen, dass ich zufrieden und gesund lebe und etwas hinterlasse. 

		Das Lebensmanagement-System soll insgesamt helfen, dass ich ein selbstgesteuertes Leben lebe und keines, das mein Alltag bzw. andere verplanen. Ich nehme mir Zeit für meine Themen und nutze die Zeit deshalb für das, was ich selber will und lasse mir die Zeit nicht für anderes (also fremd) verplanen. Ich plane aktiv, worauf ich meinen Fokus lege.

		Ohne Lebensmanagement-System wird es so weitergehen, wie bisher: Ich will bestimmte Dinge tun, tue sie aber nicht, weil sie untergehen, ich die Kraft nicht dafür habe, sie nicht eingeplant habe und ich abgelenkt bin.
    	</div>
    </div>
    <div class="row item">
  		<div class="col-sm-2">
  			<b>Vision</b>
    	</div>
    	<div class="col-sm-10">
    	Die Vision ist das Energiezentrum für mein Lebensweg. Sie verwendet eine motivierende, energetisierende Sprache und hat die Aufgabe mich zu motivieren. In ihr stecken meine Werte, sie enthält Elemente die meine innersten Grundmotivationen ansprechen. Sie erzeugt eine Spannung, da die Vision und mein heutiges Leben im Widerspruch stehen. Diese Spannung erzeugt die Energie, die Vision zur Wirklichkeit werden zu lassen. Sie ist im Gegensatz zu den Zielen unspezifisch, schwer messbar und eher unrealistisch.
    	</div>
    </div>
    <div class="row item">
  		<div class="col-sm-2">
  			<b>Ziele</b>
    	</div>
    	<div class="col-sm-10">
    	Ziele sind im Gegensatz zur Vision spezifisch, messbar, terminiert und realistisch. Sie bilden die SMART-Prinzipien ab und zielen darauf ab einen Fokus in meinem Leben auf die Dinge zu setzen, die mir wichtig sind. Ein Ziel bedeutet immer ein Fokus. Deshalb sollte ich vorsichtig bei der Wahl eines Ziels sein: Dadurch blende ich immer etwas anderes aus. Daher ist wichtig, regelmäßig die Ziele daraufhin zu überprüfen, ob ich nicht etwas Wichtiges anderes ausblende oder allgemein ein falsches Ziel gesetzt habe.

    	Wichtig in diesem Zusammenhang ist allerdings, dass es nicht nur um das Ziel geht, sondern auch um den Weg. Ich sollte mir grundsätzlich Ziele setzen, die mich unterstützen, eben das gewünschte Leben zu Leben: erfüllt, glücklich, gesund und erfolgreich. Wenn ich ein Ziel also erreicht habe, dann bin ich diesem Ziel ein Stück nähergekommen. Ich sollte dabei aber besonders beachten, dass der Weg dorthin ebenso gesund, erfüllt und glücklich ist. Ich darf nicht sagen: Erst wenn ich das Ziel erreicht habe, dann bin ich glücklich, sondern schon der Weg dorthin sollte so gestaltet sein. So gesehn habe ich also zwei Ziele: Den Weg und das Ziel.

    	Zwar haben Ziele also einen Zukunftsfokus, allerdings sollte ich bewusst im jetzt leben.
    	</div>
    </div>
    <div class="row item">
  		<div class="col-sm-2">
  			<b>Checkups</b>
    	</div>
    	<div class="col-sm-10">
    	</div>
    </div>
    <div class="row item">
  		<div class="col-sm-2">
  			<b>Glaubenssätze</b>
    	</div>
    	<div class="col-sm-10">
    	Ich möchte mir Gewohnheiten aneignen, die mich dazu auch befähigen: z.B. mehr Selbstreflexion, um mein Handeln zu verstehen und anzupassen, mehr Sport und gesunde Ernährung zum Ausgleich. Oder eine saubere Wohnung, die mich nicht entmutigt, sobald ich nach Hause komme. Und ich möchte mir dadurch Überzeugungen und Glaubenssätze aneignen, die mich dabei unterstützen (z.B. „Ich habe es selber in der Hand“ und nicht: „Das geht nicht, weil...“).
    	</div>
    </div>
    <div class="row item">
  		<div class="col-sm-2">
  			<b>Gewohnheiten</b>
    	</div>
    	<div class="col-sm-10">
    	Ein Großteil unserer Handlungen sind unterbewusst und erfolgen automatisch. 

    	Denkgewohnheiten sind Glaubenssätze (s.o.)

    	Entscheidungen kosten Kraft. Gewohnheiten erzeugen einen Automatismus, die diese Entscheidung unnötig machen.
    	</div>
    </div>
</div>
