<div class="container">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="create/#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Jährliche
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<form class="form-horizontal" #yearlyForm="ngForm" (ngSubmit)="createCheckUpQuestionTemplate(yearlyCheckUpTemplate)" id="yearlyForm" role="form"> 
						<h5>ToDos</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let todos of yearlyCheckUpTemplate.todos">{{todos}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newYearlyToDo" name="name"  autofocus  /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue ToDo hinzufügen" (click)="yearlyCheckUpTemplate.todos.push(newYearlyToDo)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<h5>Fragen</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let questionTemplate of yearlyCheckUpTemplate.questionTemplates">{{questionTemplate}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newYearlyQuestionTemplate" name="name"  autofocus  /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue Frage hinzufügen" (click)="yearlyCheckUpTemplate.questionTemplates.push(newYearlyQuestionTemplate)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-primary pull-right" [disabled]="!yearlyForm.form.valid">Speichern</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="create/#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
						Quartalsweise
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<form class="form-horizontal" #quarterlyForm="ngForm" (ngSubmit)="createCheckUpQuestionTemplate(quarterlyCheckUpTemplate)" id="quarterlyForm" role="form"> 
						<h5>ToDos</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let todos of quarterlyCheckUpTemplate.todos">{{todos}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newQuarterlyToDo" name="name"  autofocus /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue ToDo hinzufügen" (click)="quarterlyCheckUpTemplate.todos.push(newQuarterlyToDo)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<h5>Fragen</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let questionTemplate of quarterlyCheckUpTemplate.questionTemplates">{{questionTemplate}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newQuarterlyQuestionTemplate" name="name"  autofocus /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue Frage hinzufügen" (click)="quarterlyCheckUpTemplate.questionTemplates.push(newQuarterlyQuestionTemplate)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-primary pull-right" [disabled]="!quarterlyForm.form.valid">Speichern</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="create/#collapseThree" aria-expanded="true" aria-controls="collapseThree">
						Monatliche
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<form class="form-horizontal" #monthlyForm="ngForm" (ngSubmit)="createCheckUpQuestionTemplate(monthlyCheckUpTemplate)" id="monthlyForm" role="form"> 
						<h5>ToDos</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let todos of monthlyCheckUpTemplate.todos">{{todos}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newMonthlyTodo" name="name"  autofocus /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue ToDo hinzufügen" (click)="monthlyCheckUpTemplate.todos.push(newMonthlyTodo)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<h5>Fragen</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let questionTemplate of monthlyCheckUpTemplate.questionTemplates">{{questionTemplate}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newMonthlyQuestionTemplate" name="name"  autofocus /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue Frage hinzufügen" (click)="monthlyCheckUpTemplate.questionTemplates.push(newMonthlyQuestionTemplate)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-primary pull-right" [disabled]="!monthlyForm.form.valid">Speichern</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="create/#collapseFour" aria-expanded="true" aria-controls="collapseFour">
						Wöchentliche
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body">
					<form class="form-horizontal" #weeklyForm="ngForm" (ngSubmit)="createCheckUpQuestionTemplate(weeklyCheckUpTemplate)" id="weeklyForm" role="form"> 
						<h5>ToDos</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let todos of weeklyCheckUpTemplate.todos">{{todos}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newWeeklyTodo" name="name"  autofocus /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue ToDo hinzufügen" (click)="weeklyCheckUpTemplate.todos.push(newWeeklyTodo)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<h5>Fragen</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let questionTemplate of weeklyCheckUpTemplate.questionTemplates">{{questionTemplate}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newWeeklyQuestionTemplate" name="name"  autofocus /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue Frage hinzufügen" (click)="weeklyCheckUpTemplate.questionTemplates.push(newWeeklyQuestionTemplate)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-primary pull-right" [disabled]="!weeklyForm.form.valid">Speichern</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="create/#collapseFice" aria-expanded="true" aria-controls="collapseFice">
						Tägliche
					</a>
				</h4>
			</div>
			<div id="collapseFice" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				<div class="panel-body">
					<form class="form-horizontal" #dailyForm="ngForm" (ngSubmit)="createCheckUpQuestionTemplate(dailyCheckUpTemplate)" id="dailyForm" role="form"> 
						<h5>ToDos</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let todos of dailyCheckUpTemplate.todos">{{todos}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newDailyTodo" name="name"  autofocus /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue ToDo hinzufügen" (click)="dailyCheckUpTemplate.todos.push(newDailyTodo)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<h5>Fragen</h5>
						<div class="form-group">
							<div class="col-sm-12">
								<ul>
									<li *ngFor="let questionTemplate of dailyCheckUpTemplate.questionTemplates">{{questionTemplate}}</li>
								</ul>
							</div>
							<div class="col-sm-12">
								<input type="text" class="form-control" [(ngModel)]="newDailyquestionTemplate" name="name"  autofocus /> 
							</div>
						</div>
						<div>
							<a href="javascript:;" data-toggle="tooltip" data-placement="top" title="Neue Frage hinzufügen" (click)="dailyCheckUpTemplate.questionTemplates.push(newDailyquestionTemplate)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</a>			    	
						</div>
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-primary pull-right" [disabled]="!dailyForm.form.valid">Speichern</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<popupMessage [feedbackMessage]="feedbackMessage"></popupMessage>

